<!DOCTYPE html>
<html lang="en">
<head>
  <title>Predict the best</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>

.btn-block1{
  display: block;
    width: 60%;
    margin-left: 20%;
    height: 100px;
    font-size: 20px;
}
.navbar-text1{
  color: #ffffff;
  float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
</style>

</head>
<body>

<nav class="navbar navbar-inverse">
    <h3 class="navbar-text1">Predicts the best</h3>
  <ul class="nav navbar-nav">
    <li><a href="bolly">Bollywood</a></li>
    <li><a href="sal">Salary</a></li>

  </ul>


</nav>
<center><h1>Try Our Models</h1></center>

<br>
<br>

 <button type = "button" class = "btn bg-info btn-block1"  onClick="location.href='bolly'" value='click here'>   Bollywood Movie Recommendation
   </button><br>

 <br>
 <br>
 <button type = "button" class = "btn bg-info btn-block1"  onClick="location.href='sal'" value='click here'>   Employee Salary Predictor
   </button>

</body>
</html>
